<!-- Filters -->
<app-filters (filterUpdated)="filterUpdated($event)" [filters]="filters"></app-filters>
<!-- Recurring Conflicts -->
<div class="tab">
    <app-control-card [chips]="chips" [params]="params" (onPageChange)="onPageChange($event)"
        (sorterUpdated)="sorterUpdated($event)" (bookingUpdated)="updateBooking($event)"
        #controlCard></app-control-card>

    <div class="moderator-list-container">
        <app-conflict [conflictGroup]="group" [rooms]="rooms" [isRecurring]="true"
            (bookingUpdated)="updateBooking($event)" *ngFor="let group of conflicts"></app-conflict>
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        <div class="noDataMsg" *ngIf="conflicts?.length===0 || !conflicts && !loading">
            No Data
        </div>
    </div>
</div>