<!-- Filters -->
<app-filters (filterUpdated)="filterUpdated($event)" [rooms]="rooms" [status]="true"
    [monthsFilter]="true"></app-filters>
<!-- Non-Conflicts -->
<div class="tab">
    <div class="moderator-list-container">

        <app-control-card [chips]="chips" [buttons]="buttons" [selectCount]="selectCount" [params]="params"
            (onPageChange)="onPageChange($event)" (selectAllEvent)="selectAll($event)"
            (sorterUpdated)="sorterUpdated($event)" (bookingUpdated)="updateBooking($event)"
            #controlCard></app-control-card>
        <app-booking-list [bookings]="bookings" [rooms]="rooms" [buttons]="buttons" [removeConflicts]="true"
            (bookingUpdated)="updateBooking($event)" (bookingSelected)="selectBooking($event)"></app-booking-list>
    </div>
</div>