<!-- Filters -->
<app-filters (filterUpdated)="filterUpdated($event)" [rooms]="rooms" [status]="true" [monthsFilter]="true"></app-filters>
<!-- Non-Conflicts -->
<div class="tab">    
    <div class="moderator-list-container">
        <div class="moderator-list-title">
            Non-Conflicting Bookings
        </div>
       
        <app-control-card [buttons]="buttons" [someSelect]="someSelect" [params]="params" (onPageChange)="onPageChange($event)"></app-control-card>
        <app-booking-list [bookings]="bookings" [rooms]="rooms" [buttons]="buttons" [removeConflicts]="true"
            (bookingUpdated)="updateBooking($event)"></app-booking-list>
    </div>
</div>