@import '../../../variables.less';

.moderator-list-container {
    margin: 2rem;

    .moderator-list-title {
        margin-block: 2rem;
        font-size   : 1.5rem;
    }
    .mat-expansion-panel-header {
        font-size: unset;
        .mat-expansion-panel-header-title{
            margin-right: 0;
        }
        .mat-expansion-panel-header-description{
            margin-right: 450px;
            color: @highlight-color;
        }
    }
}
&.recurring{
    .mat-mdc-card{
        margin-block: 3vh;
        .mat-mdc-card-content{
            margin-top: 1vh;
            font-size: medium;
        }
        .buttons{
            position: absolute;
            right: 0.1rem;
        }
        .button-color {
            background-color: @primary-color;
        }
    }
}