@import '../../../variables.less';

.moderator-container {
    padding-bottom: 3.3vw  !important;
    padding-top   : 3.3vw !important;

    .tab {
        margin-left: 20vw;
    }

    ::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
        height       : 100vh;
        padding-left : 1vw;
        padding-right: 1vw;
    }

    ::ng-deep .mat-mdc-tab-body-content {
        padding-bottom: 7rem;
    }

    .mat-mdc-tab-header{
        border-bottom: 1px solid rgb(223, 223, 223);
    }
    .mdc-tab-indicator__content--underline {
        --mdc-tab-indicator-active-indicator-color: @primary-color;
      }
    .conflict-container {
        border-radius: 0.5rem;
        border-style : solid;
        border-color : #f34248b0;
        padding      : 0.2rem;

        .conflict {
            color           : @primary-color;
            background-color: #ff00004d;
            border-style    : solid;

            .time {
                color: @highlight-color;
            }

            .mat-mdc-card-header {
                align-items: center;
            }
        }
    }

    .moderator-list-container {
        position: relative;

        .moderator-list-title {
            margin-block: 2rem;
            font-size   : 1.5rem;
        }

        .mat-expansion-panel-header {
            font-size: unset;

            .mat-expansion-panel-header-title {
                margin-right: 0;
            }

            .mat-expansion-panel-header-description {
                margin-right: 450px;
                color       : @highlight-color;
            }
        }
    }

    .badge {
        background-color: @highlight-color;
        color           : @primaryElementTextColor;
        font-size       : 1vw;
        font-size       : 1vw;
        font-weight     : 500;
        border-radius   : 20px;
        padding         : 0.8vh;
        padding-inline  : 1.2vh;
        margin-left     : 10px;
    }
}