<div class="container main mt-5">
  <mat-form-field class="col-2 mt-5">
    <mat-label>Select Room</mat-label>
    <mat-select (selectionChange)="selectRoom($event)">
      <mat-option value="all">All Rooms</mat-option>
      <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- Conflicts -->
  <div class="moderator-list-container">
    <div class="moderator-list-title">
      Conflicts
    </div>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let group of conflicts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group.room_name}}
          </mat-panel-title>
          <mat-panel-description>
            Conflicting Bookings <i class="fa-solid fa-circle-exclamation m-5"></i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-booking-list [bookings]="group.bookings" [rooms]="rooms" [buttons]="buttons" [removeConflicts]="false"
          (bookingUpdated)="updateBooking($event)"></app-booking-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- Recurring -->
  <div class="moderator-list-container">
    <div class="moderator-list-title">
      Recurring Bookings
      <div class="recurring">
        <mat-card *ngFor="let group of recurrings">
          <mat-card-header>
            <mat-card-title>
              {{rooms[group.room_id-1]?.name}} - {{group.title}}
            </mat-card-title>
            <mat-card-subtitle>
              <span *ngFor="let day of group.days">
                {{ day.name | dayName }} - {{day.start | date: 'HH:mm'}} |
              </span>
              {{group.status == 0 ? 'Pending' : 'Approved'}}
            </mat-card-subtitle>
            <div class="buttons">
              <ng-container *ngFor="let button of buttons">
                <button mat-mini-fab *ngIf="!(group.status != 0 && button.icon == 'fa-check')"
                  (click)="updateBooking({action: 'approveRecurring', booking: group})" class="mx-1 button-color">
                  <i class="fa-solid {{button.icon}}"></i>
                </button>
              </ng-container>
            </div>
          </mat-card-header>
          <mat-card-content>
            {{group.info}}
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Non-Conflicts -->
      <div class="moderator-list-container">
        <div class="moderator-list-title">
          Non-Conflicting Bookings
        </div>
        <app-booking-list [bookings]="bookings" [rooms]="rooms" [buttons]="buttons" [removeConflicts]="true"
          (bookingUpdated)="updateBooking($event)"></app-booking-list>
      </div>


    </div>