@import '../../../variables.less';

.tab{
    margin-left: 20vw;
}
::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
    height: 100vh;
    overflow: scroll!important;
    padding-left: 1vw;
    padding-right: 1vw;
}
.moderator-list-container {    
    padding: 5vw;
}