.moderator-list-container {
  margin: 2rem;
}
.moderator-list-container .moderator-list-title {
  margin-block: 2rem;
  font-size: 1.5rem;
}
.moderator-list-container .mat-expansion-panel-header {
  font-size: unset;
}
.moderator-list-container .mat-expansion-panel-header .mat-expansion-panel-header-title {
  margin-right: 0;
}
.moderator-list-container .mat-expansion-panel-header .mat-expansion-panel-header-description {
  margin-right: 450px;
  color: #f14c38;
}
.recurring .mat-mdc-card {
  margin-block: 3vh;
}
.recurring .mat-mdc-card .mat-mdc-card-content {
  margin-top: 1vh;
  font-size: medium;
}
.recurring .mat-mdc-card .buttons {
  position: absolute;
  right: 0.1rem;
}
.recurring .mat-mdc-card .button-color {
  background-color: #176b87;
}
