<div class="main mt-5 pt-2 pb-2">
  <mat-tab-group>
    <mat-tab label="Normal Bookings"> 
      <app-normal-bookings-tab (bookingUpdate)="updateBooking($event)" [rooms]="rooms"></app-normal-bookings-tab>
    </mat-tab>
    <mat-tab label="Conflicts">
      <app-conflicting-bookings-tab (bookingUpdate)="updateBooking($event)" [rooms]="rooms"></app-conflicting-bookings-tab>
    </mat-tab>
    <mat-tab label="Recurring Conflicts">
      <app-recurring-conflicts-tab (bookingUpdate)="updateBooking($event)" [rooms]="rooms"></app-recurring-conflicts-tab>
    </mat-tab>
    <mat-tab label="Recurring Bookings">      
      <app-recurring-bookings-tab (bookingUpdate)="updateBooking($event)"  [rooms]="rooms"></app-recurring-bookings-tab>
    </mat-tab>
  </mat-tab-group>
</div>