<mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="drag-bar">
        <h2 mat-dialog-title>{{data.title}}</h2>
        <div class="close">
        </div>
        <i class="fa-solid fa-x" (click)="close()" style="width: fit-content;"></i>
    </div>
    <div class="info">
        <p>
            {{data.start.toLocaleDateString('en-GB', options)}}
            <!-- {{data.start.toLocaleDateString('el-GR', options)}} -->
        </p>
        <p *ngIf="data.url">
            Event URL: {{data.url}}
        </p>
        <hr>
        <p>{{data.info}}</p>
    </div>
</mat-dialog-content>