<mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="booking-form-dialog">
  <div class="drag-bar" cdkDragHandle>
     <i class="fa-solid fa-xmark" (click)="close()"></i>
  </div>
  <h2 mat-dialog-title>{{data.date? "Create Booking on " + data.date.toLocaleDateString('en-GB', options) + "" : "Update Booking"}}</h2>
  <form #bookingRequestForm="ngForm" (ngSubmit)="onSave(bookingRequestForm)" class="booking-form">
    <span class="top">
      <!-- Title Input -->
      <mat-form-field>
        <mat-label>Booking Title</mat-label>
        <input matInput type="text" name="title" [(ngModel)]="bookingTitle" required>
      </mat-form-field>
      <!-- Publicity Check -->
      <div class="check">
        <mat-label class="label">Public</mat-label>
        <mat-checkbox [(ngModel)]="publicityCheck" name="publicity"></mat-checkbox>
      </div>
    </span>
    <!-- Recurring Check -->
    <div class="check">
      <mat-label class="label">Recurring</mat-label>
      <mat-slide-toggle [(ngModel)]="recurringCheck"
        name="recurring">
      </mat-slide-toggle>
    </div>
    <div *ngIf="recurringCheck" class="recurring-options">
      <!-- Recurring Days input -->
      <div class="day-chips">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Day Selection" multiple #chipList>
          <mat-chip-option *ngFor="let chip of days" [selected]="chip.selected"
            (click)="toggleSelectDay(chip)">{{chip.label}}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="hour-select-container">
        <div *ngFor="let day of days; let i = index" class="hour-select">
          <p *ngIf="day.selected">{{day.label}} Options</p>
          <mat-form-field *ngIf="day.selected">
            <mat-label>Select Room</mat-label>
            <mat-select required [name]="day.label+day.room_id" ngModel [(ngModel)]="day.room_id">
              <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="day.selected">
            <mat-label>Start Time</mat-label>
            <mat-select required [name]="day.label+'Start'" ngModel [(ngModel)]="day.start">
              <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="day.selected">
            <mat-label>End Time</mat-label>
            <mat-select required [name]="day.label+'End'" ngModel [(ngModel)]="day.end">
              <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>    
    <span *ngIf="!recurringCheck">
      <div class="room-date-time">
        <!-- Date picker -->
          <mat-form-field>
            <input matInput [matDatepicker]="picker" ngModel name="date" [(ngModel)]="selectedDate" (click)="picker.open()">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- Start end hours -->
          <mat-form-field>
            <mat-select required name="start" [(ngModel)]="selectedStart">
              <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
            </mat-select>
          </mat-form-field>
          -
          <mat-form-field>
            <mat-select required name="end" [(ngModel)]="selectedEnd">
              <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
            </mat-select>
          </mat-form-field>
        <!-- Room Select -->
        <mat-form-field>
          <mat-label>Room</mat-label>
          <mat-select (selectionChange)="selectRoom($event)" [(ngModel)]="selectedRoom" name="room">
            <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </span>
    <mat-form-field>
      <mat-label>Booking info</mat-label>
      <textarea matInput type="text" name="info" ngModel [(ngModel)]="bookingInfo" required></textarea>
    </mat-form-field>

    <div>
      <button mat-raised-button class="button-color" type="button" (click)="close()">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="!bookingRequestForm.valid" class=" button button-color">
        {{this.data.booking ? 'Update Booking' : 'Create Booking'}}
      </button>
    </div>

  </form>
</mat-dialog-content>