<form #bookingRequestForm="ngForm" (ngSubmit)="onSave(bookingRequestForm)"
  class="row mt-5 main booking-request justify-content-center">

  <!-- Title Input -->
  <mat-form-field class="col-2">
    <mat-label>Booking Title</mat-label>
    <input matInput type="text" name="title" [(ngModel)]="bookingTitle" required>
  </mat-form-field>

  <!-- Room Select -->
  <span class="col-12"></span>
  <mat-form-field class="col-2">
    <mat-label>Select Room</mat-label>
    <mat-select (selectionChange)="selectRoom($event)" [(ngModel)]="selectedRoom" name="room">
      <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Recurring Check -->
  <div *ngIf="recurringCheck" class="recurring-options">
    <!-- Recurring Days input -->
    <div class="day-chips">
      <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Day Selection" multiple #chipList>
        <mat-chip-option *ngFor="let chip of days" [selected]="chip.selected"
          (click)="toggleSelectDay(chip)">{{chip.label}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="hour-select-container">
      <div *ngFor="let day of days" class="hour-select">
        <p *ngIf="day.selected">{{day.label}} Times</p>
        <mat-form-field *ngIf="day.selected">
          <mat-label>Start Time</mat-label>
          <mat-select required name="start" [(ngModel)]="day.start">
            <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="day.selected">
          <mat-label>End Time</mat-label>
          <mat-select required name="end" [(ngModel)]="day.end">
            <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <span class="col-12"></span>

  <span *ngIf="!recurringCheck" class="col-12 row justify-content-center">
    <!-- Date picker -->
    <mat-form-field class="col-2">
      <mat-label>Booking Date</mat-label>
      <input matInput [matDatepicker]="picker" ngModel name="date" [(ngModel)]="selectedDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Start end hours -->
    <span class="col-12 row justify-content-center">

      <mat-form-field class="col-2">
        <mat-label>Booking start time</mat-label>
        <mat-select required name="start" [(ngModel)]="selectedStart">
          <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-2">
        <mat-label>Booking end time</mat-label>
        <mat-select required name="end" [(ngModel)]="selectedEnd">
          <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time | date: 'HH:mm' }}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span class="col-12"></span>
  </span>

  <mat-form-field class="col-2">
    <mat-label>Booking info</mat-label>
    <textarea matInput type="text" name="info" ngModel [(ngModel)]="bookingInfo" required></textarea>
  </mat-form-field>

  <span class="col-12"></span>

  <app-calendar class="col-10" [bookings]="bookings"></app-calendar>

  <span class="col-12"></span>
  <br>
  <button mat-raised-button type="submit" [disabled]="!bookingRequestForm.valid" class="col-2 button-color">
    Save Changes
  </button>
  <button mat-raised-button class="col-2 button-color" (click)="close()">Cancel</button>

</form>