@import url('../../../variables.less');

.statistics-route-container {
    width: 100%;
    padding-inline: 1vw;
    padding-block: 5vw;

    .statistics-header {
        display: flex;

        .cards {
            display: flex;
            flex-wrap: wrap;

            .total-cards {
                display: flex;

                .totals-card {

                    width: fit-content;
                    height: fit-content;

                    margin-inline: 0.3vw;

                    mat-card-title {
                        padding-inline: 0.5vw;
                    }

                    .totals {
                        display: flex;
                        margin-top: 1vw;

                        .total {
                            h1 {
                                color: #89c9f3;
                                font-size: 2vw;
                                font-weight: 500;
                            }

                            margin-inline: 1vw;

                            display : flex;
                            flex-direction: column;
                            align-items : center;

                            font-size: 0.8vw;
                            color : #95b9e9;

                            text-align: center;
                        }
                    }
                }
            }

            .bottom-cards {
                display: flex;
                margin-top: 0.5vw;

                .mean-card {
                    width: fit-content;
                    height: fit-content;

                    margin-inline: 0.3vw;

                    mat-card-title {
                        padding-inline: 0.5vw;
                    }

                    .mean-content {
                        display: flex;
                        margin-top: 1vw;

                        .mean {

                            h1 {
                                color: #e9b15e;
                                font-size: 3vw;
                                font-weight: 500;
                            }

                            margin-inline: 1vw;

                            display : flex;
                            flex-direction: column;
                            align-items : center;

                            font-size: 0.8vw;
                            color : #e9be95;

                            text-align: center;

                        }

                    }


                }

                .remaining-card {

                    width: fit-content;
                    height: fit-content;

                    margin-inline: 0.3vw;

                    mat-card-title {
                        padding-inline: 0.5vw;
                    }

                    .remaining-content {
                        display: flex;

                        .remaining-hours {

                            margin-inline: 1vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            text-align: center;

                            h2 {
                                margin-top: 0.6vw;

                                .symbol {
                                    font-size: 1vw;
                                }

                                margin-bottom: 0;
                                color : #e9b15e;
                                font-size : 1.5vw;
                                font-weight: 500;
                            }
                        }

                    }

                }

                .indicator-card {
                    width: fit-content;
                    height: fit-content;

                    margin-inline: 0.3vw;

                    mat-card-title {
                        padding-inline: 0.5vw;
                    }

                    .indicator-content {
                        display: flex;

                        .indicator {
                            position: relative;
                            padding-inline: 0.5vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            font-size: 0.8vw;
                            color: #ab95e9;

                            text-align: center;

                            h2 {
                                margin: 0 !important;
                            }

                            .chart {
                                width: 5vw;
                                height: 4.3vw;
                            }

                            .indicator-value {
                                position: absolute;
                                font-size: 1.1vw;
                                bottom: 2.6vw;
                                right: 2.8vw;

                                .symbol {

                                    font-size: 0.71vw;
                                }
                            }
                        }
                    }
                }

                .approval-card {
                    width: fit-content;
                    height: fit-content;

                    margin-inline: 0.3vw;

                    mat-card-title {
                        padding-inline: 0.5vw;
                    }

                    .approval-content {
                        display: flex;

                        .approval {
                            position: relative;
                            padding-inline: 0.5vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            font-size: 0.8vw;
                            color: #ab95e9;

                            text-align: center;

                            h2 {
                                margin: 0 !important;
                            }

                            .chart {
                                width: 5vw;
                                height: 4.3vw;
                            }

                            .approval-value {
                                position: absolute;
                                font-size: 1.1vw;
                                bottom: 2.6vw;
                                right: 2vw;

                                .symbol {

                                    font-size: 0.71vw;
                                }
                            }
                        }

                        .approved {

                            padding-top: 2vw;

                            h1 {
                                color: #e9b15e;
                                font-size: 2vw;
                                font-weight: 500;
                            }

                            margin-inline: 2vw;

                            display : flex;
                            flex-direction: column;
                            align-items : center;

                            font-size: 0.8vw;
                            color : #e9be95;

                            text-align: center;

                        }
                    }

                }
            }
        }




        .right {
            h1 {
                font-size: 2vw;
            }

            h2 {
                font-size: 1.5vw;
                width: 100%;
                text-align: center;
            }

            .charts-container {
                display: flex;

                .chart-container {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    font-size: 1vw;

                    text-align: center;

                    .chart {
                        margin-inline: 1vw;
                        width: 10vw;
                    }

                    .chart-label {
                        display: flex;
                        position: absolute;
                        font-size: 1.7vw;
                        bottom: 7.2vw;
                        right: 3.6vw;

                        .year {
                            font-size: 1.4vw;
                            position: absolute;
                            bottom: -1.8vw;
                            right: 1vw;
                        }

                        &.semester {
                            bottom: 7.8vw;
                        }

                        &.month {
                            right: 4vw;
                        }

                        &.week {
                            right: 3.8vw;
                        }
                    }

                }

            }
        }
    }

    .stat-controls-container {
        width: 30%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 1vw;

        .add-button {
            display: flex;
            justify-content: center;
            font-size: smaller;
            width: fit-content;
            padding: 0.3vw;
            background: #e0e4e4;
            border-radius: 1rem;
            color: #767979;
            transition: ease-in 0.1s;
            margin-left: 1vw;

            &:hover {
                cursor: pointer;
                background: #d7dada;
                color: #5d5f5f;
            }

            & i {
                font-size: 1.5vw;
            }
        }

    }

    .stat-cont {

        height: 40vw;

        .stats-container {
            margin-top: 1vw;
        }
    }

    .remove-button-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: fit-content;
        padding: 0.5vw;
        .remove-button {

            display: flex;
            width: -moz-fit-content;
            padding: 0.3vw;
            background: #f4f7f7;
            border-radius: 1rem;
            color: #c2c7c7;
            transition: ease-in 0.1s;
            height: 1.9vw;
            align-items: center;
            justify-content: center;


            &:hover {
                cursor: pointer;
                background: #d7dada;
                color: #5d5f5f;
            }

            & i {
                font-size: 1.5vw;
            }
        }
    }
}