<div class="main" [ngStyle]="{ 'height': (stats.length+1) * 15 + 'vw' }">
    <div class="statistics-route-container">
        <h1>
            Statistcs Page
        </h1>
        <span class="stat-controls-container">
            <span>
                Press button to add new statitic
            </span>

            <span class="add-button" (click)="addStat()">
                <i class="fa-solid fa-add"></i>
            </span>
        </span>
        <div class="chart-container">
            <div class="chart">
                <canvas #barChart baseChart [options]="chartOptions" [data]="data" [type]="doughnut"> </canvas>
            </div>
            <div class="chart">
                <canvas #barChart baseChart [options]="chartOptions" [data]="data" [type]="doughnut"> </canvas>
            </div>
            <div class="chart">
                <canvas #barChart baseChart [options]="chartOptions" [data]="data" [type]="doughnut"> </canvas>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row stat-cont"
            [ngStyle]="{ 'height': stats.length > 1 ? stats.length > 2 ? '70vw':'35vw' : '40vw' }">
            <app-statistic class="stats-container" [ngClass]="stats.length > 1 ? 'col-6' : 'col-12'"
                *ngFor="let stat of stats"></app-statistic>
        </div>
    </div>
</div>