<div class="row navbar">
    <button mat-button [matMenuTriggerFor]="menu" class="col-1 menu-button"><i class="fa-solid fa-bars"></i></button>
    <mat-menu #menu="matMenu">

        <button mat-menu-item [routerLink]="'/myBookings'">
            My bookings
        </button>

        <button mat-menu-item [routerLink]="'/makeABooking'">
            Make a booking
        </button>

    </mat-menu>
    <span class="col-10 title" [routerLink]="'/'">
        Welcome to the IEEIHU Booking System
    </span>
    <i class="fa-solid fa-cog settings-button col-1"></i>
</div>