@import '../../../variables.less';
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: @primary-color;
    font-size: 1.5rem!important;
    color: @primaryElementTextColor;
    z-index: 100;
}

i {
    color: @primaryElementTextColor;
    font-size: 1.2rem!important;
}
.menu-button{
    width: fit-content;
}
.settings-button{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0.5rem;
}