<div class="row navbar">
    <button class="menubars" (click)="drawer.toggle()">
        <i class="fa-solid fa-bars"></i>
        <div class="user-container">
            <i class="fa-solid fa-user"></i>
        </div>
    </button>
    <span class="hometitle" [routerLink]="'/'">
        Welcome to the IEEIHU Booking System
    </span>
</div>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
    <mat-drawer class="sidemenu" #drawer [mode]="'over'">
        <button mat-flat-button [routerLink]="'/myBookings'">
            My bookings
        </button>

        <button mat-flat-button [routerLink]="'/makeABooking'">
            Make a booking
        </button>

        <button mat-flat-button [routerLink]="'/moderator'">
            Dashboard
        </button>
    </mat-drawer>
</mat-drawer-container>