.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #46A3B9;
  font-size: 1.5rem !important;
  color: #ffffff;
  z-index: 100;
}
i {
  color: #ffffff;
  font-size: 1.2rem !important;
}
.menu-button {
  width: fit-content;
}
.settings-button {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 0.5rem;
}
