<div class="static-container">
    <div class="options-container">
        <mat-form-field>
            <mat-label>Pick Statistic</mat-label>
            <mat-select (selectionChange)="chartOptionChange($event)">
                <mat-option *ngFor="let stat of statOptions" value="{{stat.value}}">
                    {{stat.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="roomPicker">
            <mat-label>Room</mat-label>
            <mat-select (selectionChange)="roomOptionChange($event)" multiple #roomSelect>
                <mat-option *ngFor="let room of rooms" value="{{room.id}}">
                    {{room.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="singleRoomPicker">
            <mat-label>Room</mat-label>
            <mat-select (selectionChange)="singleRoomOptionChange($event)" #singleRoomSelect>
                <mat-option *ngFor="let room of rooms" value="{{room.id}}">
                    {{room.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="daypicker">
            <mat-label>Day of Week</mat-label>
            <mat-select (selectionChange)="dayOptionChange($event)" multiple #daySelect>
                <mat-option *ngFor="let day of dayOptions" value="{{day.value}}">
                    {{day.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="datePicker">
            <mat-label>Dynamic Date Range</mat-label>
            <mat-date-range-input [rangePicker]="datePicker" >
                <input matStartDate placeholder="Start date" #dateRangeStart>
                <input matEndDate placeholder="End date" #dateRangeEnd (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #datePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field *ngIf="monthPicker">
            <mat-label>Month</mat-label>
            <mat-select (selectionChange)="monthOptionChange($event)" multiple #monthSelect>
                <mat-option *ngFor="let month of monthOptions" value="{{month.value}}">
                    {{month.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="semesterPicker">
            <mat-label>Semester Sample</mat-label>
            <mat-select (selectionChange)="semesterOptionChange($event)" multiple #semesterSelect>
                <mat-option *ngFor="let semester of semesters" value="{{semester.id}}">
                    {{semester.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="chart">
        <canvas #barChart baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"> </canvas>
    </div>
</div>