<div class="static-container">
    <div class="options-container">
        <mat-form-field class="option-select">
            <mat-label>Pick Statistic</mat-label>
            <mat-select (selectionChange)="chartOptionChange($event)">
                <mat-option *ngFor="let stat of statOptions" value="{{stat.value}}">
                    {{stat.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="roomPicker" class="option-select">
            <mat-label>Room</mat-label>
            <mat-select (selectionChange)="roomOptionChange($event)" multiple #roomSelect>
                <mat-option *ngFor="let room of rooms" value="{{room.id}}">
                    {{room.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="singleRoomPicker" class="option-select">
            <mat-label>Room</mat-label>
            <mat-select (selectionChange)="singleRoomOptionChange($event)" #singleRoomSelect>
                <mat-option *ngFor="let room of rooms" value="{{room.id}}">
                    {{room.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="daypicker" class="option-select">
            <mat-label>Day of Week</mat-label>
            <mat-select (selectionChange)="dayOptionChange($event)" multiple #daySelect>
                <mat-option *ngFor="let day of dayOptions" value="{{day.value}}">
                    {{day.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="datePicker" class="option-select">
            <mat-label>Dynamic Date Range</mat-label>
            <mat-date-range-input [rangePicker]="datePicker">
                <input matStartDate placeholder="Start date" #dateRangeStart>
                <input matEndDate placeholder="End date" #dateRangeEnd
                    (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #datePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field *ngIf="monthPicker" class="option-select">
            <mat-label>Month</mat-label>
            <mat-select (selectionChange)="monthOptionChange($event)" multiple #monthSelect>
                <mat-option *ngFor="let month of monthOptions" value="{{month.value}}">
                    {{month.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="semesterPicker" class="option-select">
            <mat-label>Semester Sample</mat-label>
            <mat-select (selectionChange)="semesterOptionChange($event)" multiple #semesterSelect>
                <mat-option *ngFor="let semester of semesters" value="{{semester.id}}">
                    {{semester.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="option-select" *ngIf="datasets.length>0">
            <mat-chip-listbox>
                <mat-chip-option (click)="toggleFrequency()" [selected]="toggleFrequencyFlag">
                    <i class="fa-solid fa-percent"></i>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
    <div class="chart">
        <canvas #barChart baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"> </canvas>
    </div>
</div>