@import '../../../variables.less';

.main {
    margin-top: 5rem !important;
}

.time {
    color: #bec9d5;
}

.button-color {
    background-color: @primary-color;
}

&.card-list-container {
    position      : relative;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;

    .add-container {
        width          : 70VW;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-top     : 2vh;
        border-radius  : 0.5rem;
        border-style   : solid;
        border-color   : @primary-color;
        padding        : 0.5rem;

        transition: transform 0.1s ease-out;

        .add {
            color     : @primary-color;
            transition: transform 0.1s ease-out;
            font-size : 3vw;
        }
    }

    .add-container:hover {
        transform : scale(1.005);
        transition: transform 0.2s ease-out;
        cursor    : pointer;

        border-color: @primary-color-hover;

        .add {
            transform : scale(1.1);
            transition: transform 0.2s ease-out;
            color     : @primary-color-hover;
        }

    }

    .mat-mdc-card {
        margin-block: 3vh;
        width       : 70vw;

        .mat-mdc-card-content {
            margin-top: 1vh;
            font-size : medium;
        }

        .buttons {
            position: absolute;
            right   : 0.1vw;
            top     : 0.1vw;
            display : flex;
        }

        .button-color {
            background-color: @primary-color;
        }
    }
}

.select-container {
    width       : fit-content;
    height      : fit-content;
    cursor      : pointer;
    margin-right: 0.5vw;

    .select-all-icon {
        font-size    : medium;
        background   : #e0e0e0;
        border-radius: 100%;
        padding      : 45%;
        color        : #000000b0;
        transition   : ease-in 0.1s;
    }
}

@media (max-width: 768px) {
    &.card-list-container {

        .add-container {
            width: 95VW;
        }
    }

    .mat-mdc-card {
        margin-block: 3vh;
        width       : 95vw !important;

        .mat-mdc-card-title {
            font-size: 4vw;
        }
    }
}