.main {
  margin-top: 5rem !important;
}
.time {
  color: #bec9d5;
}
.button-color {
  background-color: #176b87;
}
.card-list-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-list-container .add-container {
  width: 70VW;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #176b87;
  padding: 0.5rem;
  transition: transform 0.1s ease-out;
}
.card-list-container .add-container .add {
  color: #176b87;
  transition: transform 0.1s ease-out;
  font-size: 3vw;
}
.card-list-container .add-container:hover {
  transform: scale(1.005);
  transition: transform 0.2s ease-out;
  cursor: pointer;
  border-color: #60a3b9;
}
.card-list-container .add-container:hover .add {
  transform: scale(1.1);
  transition: transform 0.2s ease-out;
  color: #60a3b9;
}
.card-list-container .mat-mdc-card {
  margin-block: 3vh;
  width: 70vw;
}
.card-list-container .mat-mdc-card .mat-mdc-card-content {
  margin-top: 1vh;
  font-size: medium;
}
.card-list-container .mat-mdc-card .buttons {
  position: absolute;
  right: 0.1rem;
  display: flex;
}
.card-list-container .mat-mdc-card .button-color {
  background-color: #176b87;
}
.select-container {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-right: 0.5vw;
}
.select-container .select-all-icon {
  font-size: medium;
  background: #e0e0e0;
  border-radius: 100%;
  padding: 45%;
  color: #000000b0;
  transition: ease-in 0.1s;
}
