.booking-request .cal-month-view .cal-cell {
  width: 10%;
  min-height: 1px;
}
.booking-request .cal-month-view .cal-cell-top {
  min-height: 1px;
}
.booking-request .cel-title {
  font-size: small;
}
.booking-request .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2rem;
}
.button-color {
  background-color: #176b87;
  color: #ffffff;
}
