.success-dialog {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.success-dialog .success-icon {
  font-size: 7vw;
  color: #4caf50;
}
.success-dialog .success-text {
  width: 100%;
  text-align: center;
  font-size: xxx-large;
}
.success-dialog .close-button {
  margin: 1.5rem;
  width: 16vw;
  height: 7vh;
  font-size: 3vh;
}
.success-dialog .button-color {
  background-color: #176b87;
  color: white;
}
