<div class="top-bar">
    <i class="fa-solid fa-xmark" (click)="close()"></i>
</div>
<form #createRoomForm="ngForm" class="roomForm"  (ngSubmit)="onSubmit(createRoomForm)">
    <div class="name-color">
        <mat-form-field>
            <mat-label>Room name</mat-label>
            <input name="name" matInput ngModel [(ngModel)]="roomName">
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngxMatColorPicker]="picker" name="color" [formControl]="colorControl">
            <ngx-mat-color-toggle matSuffix [for]="picker">
                <mat-icon ngxMatColorpickerToggleIcon fontIcon="circle"
                    [ngStyle]="{'color': colorControl.value}"></mat-icon>
            </ngx-mat-color-toggle>
            <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
        </mat-form-field>
    </div>

    <div class="department-building">
        <mat-form-field class="department">
            <mat-label>Select Department</mat-label>
            <mat-select name="department_id" (selectionChange)="selectDepartment($event)" matInput ngModel [(ngModel)]="selectedDepartmentId">
                <mat-option *ngFor="let department of departments"
                    [value]="department.id">{{department.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="building">
            <mat-label>Select Building</mat-label>
            <mat-select name="building_id" matInput ngModel [disabled]="buildings?.length<=0" [(ngModel)]="selectedBuildingId">
                <mat-option *ngFor="let building of buildings" [value]="building.id">{{building.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Select Moderators</mat-label>
        <mat-select matInput multiple ngModel name="moderator_ids" [(ngModel)]="selectedModeratorIds">
            <mat-option *ngFor="let moderator of possibleModerators" [value]="moderator.id">
                {{moderator.first_name}} {{moderator.last_name}} ({{moderator.AM}})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Room info</mat-label>
        <textarea name="info" matInput ngModel [(ngModel)]="roomInfo"></textarea>
    </mat-form-field>

    <div class="room-form-buttons">
        <button mat-raised-button class="button-color" type="button" (click)="close()">Cancel</button>
        <button mat-raised-button type="submit" [disabled]="!createRoomForm.valid" class=" button button-color">
           <!--  {{this.room.booking ? 'Update' : 'Create'}} --> Create
        </button>
    </div>

</form>

<app-loading-spinner *ngIf="contentLoading"></app-loading-spinner>