.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5%;
  background: #176b87;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.top-bar i {
  cursor: pointer;
  color: #ffffff;
  padding: 1vh;
}
.roomForm {
  padding-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.roomForm .name-color {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.roomForm .name-color mat-form-field {
  width: 40%;
}
.roomForm .department-building {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 90%;
}
.roomForm .department-building .department {
  width: fit-content !important;
}
.roomForm .department-building .building {
  width: 100%!important;
}
.roomForm mat-form-field {
  width: 90%;
}
.roomForm .room-form-buttons {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}
.roomForm .room-form-buttons button {
  margin-left: 1vw;
}
.roomForm .button-color {
  background-color: #176b87;
  color: #ffffff;
}
.roomForm .mat-mdc-raised-button[disabled][disabled] {
  background-color: #b9b9b9;
  color: #ffffff;
}
