// src/app/styles.less
@import '../../../variables.less';

.calendar-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .calendar {
        width: 100%;

        .currentTitle {
            text-align: center;
            font-size: 2vw;
        }

        .top-container {
            display: flex;
            flex-wrap: nowrap;
            margin-top: 5vh;
            align-items: center;
            justify-content: flex-end;

            .controls-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: unset;
            }
            .view-kind-controls-container {
                display: flex;
                justify-content: end;
                height: 5vh;
            }

            .filters-container {
                padding-top: 3%;
                width: 10%;
                height: 100%;

                .filter-container {
                    width: 100%;

                    .filter-title {
                        width: 6%;
                    }
                }
            }

        }


    }
}

mwl-calendar-month-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .cal-month-view {
        width: 90%;

        .cal-header .cal-cell {
            height: 2vw !important;
        }

        .cal-cell-top {
            flex: none !important;
            min-height: 0px;

            .cal-day-badge {
                margin-top: 5px;
                margin-left: 10px;
                min-width: 0px;
                padding: 3px 7px;
                font-size: 12px;
                border-radius: 10px;
                
            }

            .cal-day-number {
                margin: 0px;
            }
        }

        .cal-cell {
            height: calc(80vh / 6) !important;
        }

        .cal-has-events {

            .cel-title {
                display: flex;
                overflow-y: scroll;
                flex-wrap: wrap;

                .event {
                    color: @primaryElementTextColor;
                    width: 80%;
                    padding: 2px 7px;
                    margin: 2px;
                    border-radius: 1rem;
                    font-size: medium;
                }
            }
        }


    }
}



.controls {
    margin: 0.5rem;
    font-size: 1rem;
}

.cal-day-badge {
    background-color: @highlight-color;
}


.cal-month-view .cal-open-day-events {
    color: #fff;
    background-color: @primary-color;
    box-shadow: inset 0 0 8px 0 @primary-color;

    .open-day-event:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.cal-week-view .cal-event {
    color: #fff;
}

.cal-day-view .cal-event {
    color: #fff;
}

.filter-controls {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .calendar-container {
        margin-left: 1vw;

        .calendar {
            width: 95vw;
            font-size: 5vw !important;

            .view-kind-controls-contaier {
                margin-bottom: 2vh;

                .mat-button-toggle-button {
                    height: 4vh;
                    font-size: 2vh;

                    .mat-button-toggle-label-content {
                        line-height: normal;
                    }
                }
            }

            .currentTitle {
                font-size: 5vw;
            }

            .view-kind-controls-contaier {
                & .mat-button-toggle-appearance-standard {
                    font-size: 5vw !important;
                    height: 4vh;
                }
            }

            .controls-container {
                height: 6vh;

                .controls {
                    margin: 0;
                    margin-inline: 7vw;
                    font-size: 2vh;

                    &.mdc-button {
                        height: 4vh;
                    }
                }
            }

            .h5 {
                font-size: 4vw !important;
            }

            & .cal-cell-row {
                height: 7vh;

                &.cal-header {
                    height: 4vh;
                    font-size: 3vw !important;
                }

            }

            .cal-open-day-events {
                position: relative;
            }

            & .cal-cell-top {
                width: 1vw;

                .cal-day-number {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }


            & .cal-month-view .cal-day-cell.cal-in-month,
            .cal-month-view .cal-day-cell.cal-out-month {
                overflow: hidden;
                display: flex;
                flex-direction: row-reverse;
                height: 7vh;
                min-height: 7vh;

                & .cel-title {
                    height: 7vh;
                    overflow: hidden;
                }


                .cal-day-badge {
                    display: none;
                }

                .event {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 1vw;
                    height: 1vh;
                }
            }
        }
    }
}