// src/app/styles.less
@import '../../../variables.less';

.calendar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calendar {
    border: 0.13rem;
    border-color: @primary-color;
    border-style: solid;
    padding: 1rem;
    border-radius: 2%;
    width: 75%;
}

.controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    margin: 0.5rem;
    font-size: 1rem;
}

.view-kind-controls-contaier {
    display: flex;
    justify-content: end;
}
.cal-day-badge{
    background-color: @secondary-color;
}
.cal-has-events {

    .cel-title {
        .event {
            color: @primaryElementTextColor;
            width: fit-content;
            padding: 2px 7px;
            margin: 2px;
            border-radius: 1rem;
            font-size: medium;
        }
    }

    padding-bottom: 1vh;
}
.cal-month-view .cal-open-day-events {
    color: #fff;
    background-color: @primary-color;
    box-shadow: inset 0 0 8px 0 @primary-color;
}
.cal-week-view .cal-event {
    color: #fff;
}
.cal-day-view .cal-event {
    color: #fff;
}