.calendar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.calendar {
  border: 0.13rem;
  border-color: #1b3e4e;
  border-style: solid;
  padding: 1rem;
  border-radius: 2%;
  width: 75%;
}
.controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  margin: 0.5rem;
  font-size: 1rem;
}
.view-kind-controls-contaier {
  display: flex;
  justify-content: end;
}
.cel-title {
  padding-bottom: 1vh;
  padding-left: 0.5vw;
}
