<div class="calendar-container">
  <div class="calendar">
    <!-- Set view kind to month, week or day -->
    <div class="top-container">

      <app-filters (filterUpdated)="updateFilter($event)" [filters]="filters"></app-filters>

      <!-- 
      <div class="view-kind-controls-container">
        <mat-button-toggle-group name="viewKind" aria-label="Kind of View" [(ngModel)]="selectedValue">
          <mat-button-toggle color="accent" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month" value="Month">
            Month
          </mat-button-toggle>
          <mat-button-toggle color="accent" (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week" value="Week">
            Week
          </mat-button-toggle>
          <mat-button-toggle color="accent" (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day" value="Day">
            Day
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div> -->

      <!-- Current month, week or day -->
      <div mat-label class="currentTitle">
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
      </div>

      <!-- Previous, current and next buttons -->
      <div class="controls-container">
        <button mat-icon-button mwlCalendarPreviousView (viewDateChange)="viewDateUpadate($event)" [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" (click)="scrollCalendar({action:'previous', viewDate: viewDate})"
          class="controls">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button mat-stroked-button mwlCalendarToday [(viewDate)]="viewDate" class="controls">
          Today
        </button>
        <button mat-icon-button mwlCalendarNextView (viewDateChange)="viewDateUpadate($event)" [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" (click)="scrollCalendar({action:'next', viewDate: viewDate})"
          class="controls">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>

    </div>

    <ng-template #customHeader>
      <div role="row" class="cal-cell-row cal-header ng-star-inserted">
        <div tabindex="0" role="columnheader" class="cal-cell cal-past ng-star-inserted"> {{isSmallScreen? "Mon":
          'Monday'}} </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-today ng-star-inserted"> {{isSmallScreen? "Tue":
          'Tuesday'}} </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-future ng-star-inserted"> {{isSmallScreen? "Wed":
          'Wednesday'}} </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-future ng-star-inserted"> {{isSmallScreen? "Thu":
          'Thursday'}} </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-future ng-star-inserted"> {{isSmallScreen? "Fri":
          'Friday'}} </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-future cal-weekend ng-star-inserted"> {{isSmallScreen?
          "Sat": 'Saturday'}}</div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-past cal-weekend ng-star-inserted"> {{isSmallScreen?
          "Sun": 'Sunday'}} </div>
      </div>
    </ng-template>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
          {{ day.badgeTotal }}
        </span>
        <span class="add-button" (click)="handleEvent('add', day)" [ngClass]="{'disabled': openDialogFlag}">
          <i class="fa-solid fa-add"></i>
        </span>
        <span class="cal-day-number">
          {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>
      </div>
      <div class="cel-title">
        <div *ngFor="let event of day.events" class="event" [ngStyle]="{'background-color': event.color}">
          <div *ngIf="!isSmallScreen">
            {{event.title}} - {{event.start.getHours()+':'}}{{event.start.getMinutes()>10 ? event.start.getMinutes() :
            event.start.getMinutes()+'0'}}
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #customOpenDay let-events="events" let-eventClicked="eventClicked" let-isOpen="isOpen"
      let-trackByEventId="trackByEventId" let-validateDrag="validateDrag">
      <!-- <span class="cal-event-title" *ngFor="let event of openDay?.events">{{event.title}}</span> -->
      <div class="cal-open-day-events" [@collapse] *ngIf="isOpen" role="application">
        <span tabindex="-1" role="alert"></span>
        <span tabindex="0" role="landmark"></span>
        <div *ngFor="let event of events; trackBy: trackByEventId" [ngClass]="event?.cssClass" mwlDraggable
          class="open-day-event" [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
          [dropData]="{ event: event }" [dragAxis]="{ x: event.draggable, y: event.draggable }"
          [validateDrag]="validateDrag" [touchStartLongPress]="{ delay: 300, delta: 30 }"
          (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })">
          <span class="cal-event" [ngStyle]="{ backgroundColor: event.color }">
          </span>
          &ngsp;
          <mwl-calendar-event-title [event]="event" view="month"
            (mwlKeydownEnter)="eventClicked.emit({ event: event, sourceEvent: $event })" tabindex="0"
            [attr.aria-label]="{ event: event }| calendarA11y : 'eventDescription'">
          </mwl-calendar-event-title>
          -
          &ngsp;
          {{event.room_name}}
          &ngsp;
          {{event.start.getHours()+':'}}{{event.start.getMinutes()>10 ? event.start.getMinutes() :
          event.start.getMinutes()+'0'}}
          -
          {{event.end.getHours()+':'}}{{event.end.getMinutes()>10 ? event.end.getMinutes() :
          event.end.getMinutes()+'0'}}
          <mwl-calendar-event-actions [event]="event">
          </mwl-calendar-event-actions>
        </div>
      </div>
    </ng-template>

    <!-- The calendars to switch between -->
    <div [ngSwitch]="view" class="h5">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="bookings"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('eventClicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
        [cellTemplate]="customCellTemplate" [headerTemplate]="customHeader" [openDayEventsTemplate]="customOpenDay"
        [weekStartsOn]="1">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="bookings"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="bookings"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>