<div class="container">
    <div *ngFor="let booking of bookings" class="m-2" ngClass="{{booking.conflict_id && !removeConflicts ? 'conflict-container' : ''}}">
        <mat-card ngClass="{{booking.conflict_id ? 'conflict' : ''}}" *ngIf="!(removeConflicts && booking.conflict_id)">
            <div class="row w-100 flex-row-reverse position-absolute py-2">
                <ng-container *ngFor="let button of buttons">
                    <button mat-mini-fab *ngIf="!(booking.status != 0 && button.icon == 'fa-check')" (click)="buttonAction(button.action, booking)" class="mx-1 button-color"><i class="fa-solid {{button.icon}}"></i></button>
                </ng-container>
                
            </div>
            <mat-card-header>
                <p class="h4 title-text">
                    <i class="fa-solid fa-circle icon" [ngStyle]="{'color': booking?.color?.primary}"></i>
                    {{booking.title}}
                </p>
                <p class="h4 time mx-5 title-text">
                    {{booking.start.toLocaleDateString('en-GB', options)}} 
                    {{booking.end ? ' - ' + booking?.end?.toLocaleDateString('en-GB', options): ''}} 
                </p>
                <p class="h4" *ngIf="rooms && removeConflicts">
                    {{rooms[booking.room_id-1]?.name}}
                </p>
                <p class="h4 mx-3 title-text">
                    Status: <span class="primary-color">
                        {{booking?.status==0 ? 'Pending' : 'Approved'}}
                    </span>
                </p>
            </mat-card-header>
            <mat-card-content>
                <mat-divider></mat-divider>
                <p class="my-2">
                {{
                    booking?.info ?
                    (booking.info.length > 0 ? booking.info?.slice(0, 50) + (booking.info.length > 50 ? '...' : '') : 'No info')
                    :
                    'No info'
                }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>