.tab {
  margin-left: 20vw;
}
::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
  height: 100vh;
  overflow: scroll!important;
  padding-left: 1vw;
  padding-right: 1vw;
}
.moderator-list-container {
  padding: 5vw;
}
.recurring .mat-mdc-card {
  margin-block: 3vh;
  width: 70vw;
}
.recurring .mat-mdc-card .mat-mdc-card-content {
  margin-top: 1vh;
  font-size: medium;
}
.recurring .mat-mdc-card .buttons {
  position: absolute;
  right: 0.1rem;
}
.recurring .mat-mdc-card .button-color {
  background-color: #176b87;
}
.moderator-list-title {
  margin-block: 2rem;
  font-size: 1.5rem;
}
