<!-- Filters -->
<app-filters (filterUpdated)="filterUpdated($event)" [filters]="filters"></app-filters>
<!-- Recurring -->
<div class="tab">
  <app-control-card [chips]="chips" [buttons]="buttons" [params]="params" [selectCount]="selectCount"
    (selectAllEvent)="selectAll($event)" (onPageChange)="onPageChange($event)" (sorterUpdated)="sorterUpdated($event)"
    (bookingUpdated)="updateBooking($event)" #controlCard></app-control-card>
  <div class="moderator-list-container">
    <app-card-list [elements]="recurrings" [rooms]="rooms" [buttons]="buttons" [removeConflicts]="true"
      (bookingUpdated)="updateBooking($event)" (bookingSelected)="selectBooking($event)" *ngIf="!loading && recurrings.length"></app-card-list>
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <div class="noDataMsg" *ngIf="recurrings?.length===0 || !recurrings && !loading">
      No Data
    </div>
  </div>
</div>