@import '../../../../variables.less';
@import '../moderator-dashboard.component.less';
&.recurring {
    .mat-mdc-card {
        margin-block: 3vh;
        width: 70vw;
        .mat-mdc-card-content {
            margin-top: 1vh;
            font-size: medium;
        }

        .buttons {
            position: absolute;
            right: 0.1rem;
        }

        .button-color {
            background-color: @primary-color;
        }
    }
}

.moderator-list-title {
    margin-block: 2rem;
    font-size: 1.5rem;
}