<div class="main mt-5 pt-2 pb-2">
    <div class="tab">
        <!-- Filters -->
        <app-filters (filterUpdated)="filterUpdated($event)" [filters]="filters"></app-filters>
        <!-- Controls -->
        <app-control-card [chips]="chips" [buttons]="buttons" [selectCount]="selectCount" [params]="params"
            (onPageChange)="onPageChange($event)" (sorterUpdated)="sorterUpdated($event)"
            (bookingUpdated)="updateSemester($event)" #controlCard></app-control-card>
        
        <!-- semester List -->
        <div class="semester-list-container">
            <app-card-list [elements]="semesters" [buttons]="buttons" [removeConflicts]="true"
                (bookingUpdated)="updateSemester($event)" *ngIf="!loading" (addEvent)="addSemester()"></app-card-list>
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <div class="noDataMsg" *ngIf="semesters?.length===0 || !semesters && !loading">
                No Data
            </div>
        </div>
    </div>   
</div>