<!-- Filters -->
<app-filters (filterUpdated)="filterUpdated($event)" [status]="false" [monthsFilter]="true"
[daysFilter]="true" [type]="true"></app-filters>
<!-- Conflicts -->
<div class="tab">
    <div class="moderator-list-container">
        <app-control-card [chips]="chips" [params]="params" (onPageChange)="onPageChange($event)" (sorterUpdated)="sorterUpdated($event)" 
        (bookingUpdated)="updateBooking($event)" #controlCard></app-control-card>
        <app-conflict [conflictGroup]="group" [rooms]="rooms" [isRecurring]="false" (bookingUpdated)="updateBooking($event)" *ngFor="let group of conflicts"></app-conflict>
    </div>
</div>