<div class="sidebar" [class.open]="isOpen">

    <!-- Sidebar Main Items -->
    <div class="sidebar-items" *ngFor="let item of items; let i = index" (click)="changeLocation(item.location)">
      <i [ngClass]="item.icon"></i>
      <h3 class="item-style">
        {{ item.label }}
      </h3>
    </div>
    <div class="sidebar-items" (click)="changeLocation('/login')" *ngIf="isAuthenticated">
      <i class="fa-solid fa-right-to-bracket"></i>
      <h3 class="item-style">
        Login
      </h3>
    </div>
    <div class="sidebar-items" (click)="changeLocation('/logout')" *ngIf="!isAuthenticated">
      <i class="fa-solid fa-right-to-bracket"></i>
      <h3 class="item-style">
        Logout
      </h3>
    </div>
</div>  

<!-- Sidebar Overlay -->
<div *ngIf="isOpen" class="sidebar-overlay" (click)="toggleSidebar()"></div>
