<div class="top-bar">
    <i class="fa-solid fa-xmark" (click)="close()"></i>
</div>
<form #createsemesterForm="ngForm" class="semesterForm" (ngSubmit)="onSubmit(createsemesterForm)">
    <div class="type-current">
        <mat-form-field>
            <mat-label>Select Type</mat-label>
            <mat-select matInput ngModel name="type" [(ngModel)]="selectedType">
                <mat-option [value]="'Spring'">
                    Spring
                </mat-option>
                <mat-option [value]="'Winter'">
                    Winter
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-checkbox class="example-margin" [(ngModel)]="is_current" name="is_current">Set current</mat-checkbox>
    
    </div>
    <div class="dates">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Start</mat-label>
            <input matInput [matDatepicker]="startPicker" ngModel name="start" [(ngModel)]="start" (click)="startPicker.open()">
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>End</mat-label>
            <input matInput [matDatepicker]="endPicker" ngModel name="end" [(ngModel)]="end" (click)="endPicker.open()">
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>


    <div class="semester-form-buttons">
        <button mat-raised-button class="button-color" type="button" (click)="close()">Cancel</button>
        <button mat-raised-button type="submit" [disabled]="!createsemesterForm.valid" class=" button button-color">
            <!--  {{this.semester.booking ? 'Update' : 'Create'}} --> Create
        </button>
    </div>

</form>

<app-loading-spinner *ngIf="contentLoading"></app-loading-spinner>