/* You can add global styles to this file, and also import other style files */
@import 'variables.less';
@import 'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500&display=swap';

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: @secondary-color;
    //font-family: 'Barlow Condensed', sans-serif;
}

body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif !important;
}

button {
    margin: 5px;
}
.main {
    height: 100%;
    align-content: flex-start;
    font-size: 1.2rem;
}
.close{
    cursor: pointer;
    width: fit-content!important;
    font-size: 1.5rem;
}
@import '/src/app/routes/booking-request/booking-request.component.less';