
@import '../../../variables.less';
.toKeep{
    background-color: #38e362 !important;
}
.toDelete{
    background-color: #fd474e;
}
.resolved{
    background-color: #6685ee;
}
.resolve-conflict{
    td{
        button {
            margin: 5px;
            border-radius: 3rem;
        }
        .button-color{
            background-color: @primary-color;
            color: #ffffff;
        }
    }
    button {
        width: 7vw;
        margin: 0.5vw;
    }
    .button-color{
        background-color: @primary-color;
        color: #ffffff;
    }
}