.toKeep {
  background-color: #38e362 !important;
}
.toDelete {
  background-color: #fd474e;
}
.resolved {
  background-color: #6685ee;
}
.resolve-conflict td button {
  margin: 5px;
  border-radius: 3rem;
}
.resolve-conflict td .button-color {
  background-color: #176b87;
  color: #ffffff;
}
.resolve-conflict button {
  width: 7vw;
  margin: 0.5vw;
}
.resolve-conflict .button-color {
  background-color: #176b87;
  color: #ffffff;
}
