<form #conflictResolveForm="ngForm" (ngSubmit)="onResolve(conflictResolveForm)"
  class="row p-5 main booking-request justify-content-center">
  <table mat-table [dataSource]="data.conflictGroup.bookings" class="mat-elevation-z8">
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef> Room </th>
      <td mat-cell *matCellDef="let booking"> {{roomName(booking.room_id)}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let booking"> {{booking.title}} </td>
    </ng-container>


    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let booking"> {{booking.start | date: 'EEEE d/MM yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let booking"> {{booking.start | date: 'HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End </th>
      <td mat-cell *matCellDef="let booking"> {{booking.end | date: 'HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="keep">
      <th mat-header-cell *matHeaderCellDef> Keep </th>
      <td mat-cell *matCellDef="let booking">
        <mat-radio-button [value]="booking" (click)="selectToKeep(booking)"
          [checked]="toKeep && toKeep.id == booking.id"></mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let booking">
        <button mat-raised-button class="button button-color" (click)="editBooking(booking)">Edit</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let booking" class="w-25">
        {{toKeep == null ? '' : toKeep.id == booking.id ? 'This booking will be kept' : 'This booking will be deleted unless edited'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let booking; columns: displayedColumns;" [ngClass]="{'toKeep': toKeep  && toKeep.id === booking.id, 'toDelete': toKeep != null && toKeep.id != booking.id}"></tr>
  </table>


</form>